@import '/node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: Montserrat;

  min-height: 100vh;

 
}

html {
  min-height: 100vh;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

